<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <DBServer>
    <DbType>SQL2008</DbType>
    <Server>ADMIN-PC\SQLEXPRESS</Server>
    <ConnectStr>User Id=sa;Password=123456;Database=SambaPOS5;Server=ADMIN-PC\SQLEXPRESS</ConnectStr>
    <DbName>SambaPOS5</DbName>
    <ConnectSimple>True</ConnectSimple>
    <TabLoadtype>0</TabLoadtype>
    <ProcPrefix />
    <ProjectName />
    <Namepace>Maticsoft</Namepace>
    <Folder />
    <AppFrame>s3</AppFrame>
    <DALType />
    <BLLType />
    <WebType />
    <EditFont>新宋体</EditFont>
    <EditFontSize>9</EditFontSize>
    <DbHelperName>DbHelperSQL</DbHelperName>
    <ModelPrefix />
    <ModelSuffix />
    <BLLPrefix />
    <BLLSuffix />
    <DALPrefix />
    <DALSuffix />
    <TabNameRule>same</TabNameRule>
    <WebTemplatePath />
    <ReplacedOldStr />
    <ReplacedNewStr />
  </DBServer>
  <DBServer>
    <DbType>MySQL</DbType>
    <Server>10.100.20.41</Server>
    <ConnectStr>server=10.100.20.41;user id=root; Port=3306;password=root123,; database=YH_PaaSDB; pooling=false</ConnectStr>
    <DbName>YH_PaaSDB</DbName>
    <ConnectSimple>True</ConnectSimple>
    <TabLoadtype>0</TabLoadtype>
    <ProcPrefix />
    <ProjectName />
    <Namepace>Maticsoft</Namepace>
    <Folder />
    <AppFrame>s3</AppFrame>
    <DALType />
    <BLLType />
    <WebType />
    <EditFont>新宋体</EditFont>
    <EditFontSize>9</EditFontSize>
    <DbHelperName>DbHelperMySQL</DbHelperName>
    <ModelPrefix />
    <ModelSuffix />
    <BLLPrefix />
    <BLLSuffix />
    <DALPrefix />
    <DALSuffix />
    <TabNameRule>same</TabNameRule>
    <WebTemplatePath />
    <ReplacedOldStr />
    <ReplacedNewStr />
  </DBServer>
</NewDataSet>